#generic-layout {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-gap: 0;
    grid-template-rows: 4rem 3rem 9rem 1fr 3rem 1rem;
}

#generic-layout #app-header {
    grid-column: 2;
    grid-row: 2;
}

#generic-layout #app-footer {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#page-header {
    grid-column: 2;
    grid-row: 3;
}

.dropzone {
    grid-column: 2;
    grid-row: 4;
}
