.app-header {
    width: 95%;
    padding: 0 1rem;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    margin: 0 1.2rem;
    transform: translateY(-2px);
}

.header-subtitle {
    margin-top: 0;
    position: absolute;
    bottom: 1rem;
    left: 2rem;
}

.home-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
}
