#app-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-header svg {
    margin: 0 1.2rem;
    transform: translateY(-2px);
}

#app-header h1 {
    margin: 0;
    padding: 0;
}

.home-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: var(--theme-dark);
}
