#layout {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-gap: 0;
    grid-template-rows: 15vh 5rem 1fr 3rem 1rem;
    /* background: white */
}

#layout #app-header {
    grid-column: 2;
    grid-row: 2;
}

#layout #app-footer {
    grid-column: 2 / 3;
    grid-row: 4;
}

#home-body {
    grid-column: 2;
    grid-row: 3;
    padding: 2rem 0;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.home-btn-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.home-btn-container svg, img {
    margin: 1rem 0;
}

.home-btn-container .hp-btn {
    width: 10rem;
    height: 6rem;
}
