.hp-btn {
    cursor: pointer;
    border: solid var(--theme-light) 1px;
    background-color: var(--theme-dark);
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem;
    z-index: 1000;
}

.hp-btn-enabled:hover {
    background-color: var(--theme-light);
    color: var(--theme-dark);
}

.hp-btn-disabled {
    border: solid var(--theme-grey) 1px;
    color: var(--theme-grey);
    cursor: not-allowed;
}