.file-card {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
}


.file-info-container * {
    text-align: left;
    word-wrap: break-word;
    white-space: initial;
}

.file-name {
    padding-right: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.file-name svg {
    margin-right: 0.4rem;
    width: 1.1rem;
}

.file-path {
    font-size: 0.8rem;
}

.delete-file-btn {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    justify-content: flex-end;
}

.delete-icon {
    width: 1.4rem;
    color: var(--theme-red);
    cursor: pointer;
}