html, body, #root {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    /* background: white */
}
#app {
    width: 99%;
    height: 95%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    /* background: white */
}
#app-container {
    width: 99%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    /* background: white */
}

.flex-container {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    padding: 2rem 0;

}

 .btn {
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

 .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

 .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

