
.files-list {
    margin: 0 auto;
    width: 99%;
    max-width: 60rem;
}

.no-files-disclaimer {
    margin-top: 5rem;
    
}

.disclaimer-subtitle {
    margin-top: 2rem;
}
/* 
.files-list div {
    max-width: 99%;
    background-color: transparent !important;
} */

.drag-n-drop-icon {
    margin-top: 3rem;
    width: 64px;
}