
.files-list {
    margin: 0 auto;
    width: 99%;
    max-width: 60rem;
    overflow-y: scroll;
}

.no-files-disclaimer {
    margin-top: 5rem;
    
}

.disclaimer-subtitle {
    margin-top: 2rem;
}
/* 
.files-list div {
    max-width: 99%;
    background-color: transparent !important;
} */

